footer.footer
  border-top 1px solid #E5E5E5
  margin-top 1
  border-top-width 28px
  margin-top 1
    

  padding 17px 0
  text-align center
  background #0d396e
  color white
  border-top-width: 261

