<div class="container">
    <form name="userForm" ng-submit="vm.createUser()">

        <ul>
            <label for="">Nombre Evento</label>
            <input type="text" ng-model="vm.evento.nombres">
        </ul>
        <ul>
            <label for="">Lugar</label>
            <input type="text" ng-model="vm.lugar.apellidos">
        </ul>
        <ul>
            <label for="">Fecha</label>
            <input type="text" ng-model="vm.fecha.email">
        </ul>
        <ul>
            <button type="submit">Registrar</button>
        </ul>
    </form>
</div>
