<header class="Header-container">
    <div class="container">
        <div class="row Header-containerAlignV">
            <div class="col-xs-6">
                <h1>Eventos</h1>
            </div>
            <div class="col-xs-6 text-right">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMenu">
                    &#9776;
                </button>
                <a href="login" class="Login hidden-xs">Login</a>
            </div>
        </div>
    </div>
</header>
<!--Header fin-->
<!--Inicio menu-->
<div class="MenuContainer">
    <nav class="collapse navbar navbar-collapse" id="navMenu">
        <div class="container">
            <div class="row AlignNavbar">
                <div class="col-xs-10 col-md-4 col-md-offset-0 AlignItemsNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="main" class="navbar-link text-center">Home</a>
                        </li>
                        <li>
                            <a href="users-list" class="navbar-link text-center">Usuarios</a>
                        </li>
                        <li>
                            <a href="users-create" class="navbar-link text-center">Registrarse</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="¿Encontró lo que buscaba?">
                            <span class="input-group-btn">
                        <button class="btn Btn-adsi">
                             <span class="hidden-xs hidden-sm">Buscar</span>
                            <i class="fa fa-search IconSearch visible-xs visible-sm"></i>
                            </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
