.img-slider
  width 100%
  height 400px !important

.img-container
  height 374px
  padding 1em

.InfoContainer
  padding 1em

.InfoContainer h4
  margin 1em 0
  font-weith bold
.col-xs-12  
  padding 0em 0 !important
