input
    width 100%
    padding 12px 20px
    margin 8px 0
    display inline-block
    border 1px solid #ccc
    box-sizing border-box
    background rgba(37, 124, 255, 0.45)
    color white


.Color
  color #FFEB3B


.This-is
  background #dadad6

.Register-user
  background #0d396e
  margin-top 0
  margin-bottom 0
  text-align center
  Color white




.img
  background-image: url(../../assets/images/1.jpg)
  background-position center
  background-size cover
  height: 750px;


