input
    width 100%
    padding 12px 20px
    margin 8px 0
    display inline-block
    border 1px solid #ccc
    box-sizing border-box

.Color
  color #FFEB3B



.img
  background-image: url(../../assets/images/1.jpg)
  background-position center
  background-size cover
